repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: 0a943e8cbbdfd4a4b33f15e77c542715b4964f65
    hooks:
      - id: go-fmt
      - id: go-build

exclude: vendor|go\.(sum|mod)
